<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coat Check - Employee Portal</title>
    <link rel="stylesheet" href="/static/style_player.css">
    <script src={% block script %}{% endblock %}></script>
</head>
<body>
    <header>
        <img src="/static/temp_icon.jpg" alt="Temporary Logo" id="logo" width="100" height="70">
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; Jacky Nguedia</p>
    </footer>
</body>
</html>