{% extends "base_player.html" %}
{% block script %}/static/script_player.js{% endblock %}
{% block content %}
    <section id="message-board">
        <!-- Validation for new requests will come here -->
        <p id="default-message">Awaiting client request</p>
    </section>
    <section id="coat-numbers">
        <!-- Loop through all the numbers in a horizontal list -->
        {% for n in numbers %}
        <a href="/number/{{ n }}"><div class="number unassigned">
            <p>Number<br/><span class="num">{{ n }}</span></p>
        </div></a>
        {% endfor %}

        <!--testing-->
        <a href="/number/21"><div class="number assigned">
            <p>Number<br/><span class="num">21</span></p>
        </div></a>
    </section>
{% endblock %}