{% extends "base_player.html" %}
{% block content %}
    <button id="back">Back</button>
    <section id="number-section">
        <div>
            <p style="font-size: 25px; margin-bottom: 0px;">Client Name</p>
            <p style="font-size: 30px; margin-top: 0px;">Client Phone</p>
        </div>

        <!-- Loop through all the client's items in a horizontal list -->
        <div id="item-list">
          <p class="item"> Img here </p>
        </div>
        
        <h3>Number<br/>{{ num }}</h3>
    </section>
    <button id="unassign">Unassign Number</button>
{% endblock %}